section.about
  .container
    .about-content
      .about-content-left
        .about-content-left__content
          h2.about-content-left__title about
          p.about-content-left__text  Hi, world! My name is Kris and I'm a UX/UI, Graphic designer FROM UKRAINE
      .about-content-center
        img.about-content-center__img(src="img/IMG_0641 2 1.jpg" alt="portret")
      .about-content-right
        p.about-content-right__text I'm a creative thinker and a great problem solver. My goal is to reach new horizons in design with self-improvement and learning new technologies.