section.also
  .container
    .also-body
      .also-body-left
        .also-body-left__content
          h2.also-body-left__title.title also
          p.also-body-left__text My life revolves around beauty, so I create it not only through design
        .swiper
          ul.also-body-left__list.swiper-wrapper
            li.also-body-left__item.swiper-slide
              img.also-body-left__img-mob(src="img/also1.jpg", alt="photo of products")
              
            li.also-body-left__item.swiper-slide
              img.also-body-left__img-mob.also-body-left__img-mob--dn(src="img/also1.jpg", alt="photo of products")
          
          
          
        p.also-body-left__text-mob.also-body-left__text-mob--right I am also a ceramist and create handmade candles and tableware
        img.also-body-left__img.also-body-left__img--1(src="img/also1.jpg", alt="photo of products")
        img.also-body-left__img.also-body-left__img--2(src="img/also2.jpg", alt="photo of products")
      .also-body-right
        img.also-body-right__img.also-body-right__img--3(src="img/also3.jpg", alt="photo of products")
        p.also-body-right__text I am also a ceramist and create handmade candles and tableware
        img.also-body-right__img(src="img/also4.jpg", alt="photo of products")