section.experience
  .container.container--experience-w
    .experience-content
      h2.experience-content__title.title experience
      ul.experience-content-list
        li.experience-content-list__item
          span.experience-content-list__company piart
          span.experience-content-list__text Graphic designer 
          span.experience-content-list__data Aug 2018 — mar 2021
        li.experience-content-list__item
          span.experience-content-list__company jetup
          span.experience-content-list__text ux/ui designer 
          span.experience-content-list__data mar 2021 — sep 2021
        li.experience-content-list__item
          span.experience-content-list__company the glyph
          span.experience-content-list__text ux/ui designer 
          span.experience-content-list__data sep 2021 — dec 2022