section.experience
  .container.container--experience-w
    .experience-content
      h2.experience-content__title.experience-content__title--dn.title experience
      h2.experience-content__title.experience-content__title--db.title experi-ence
      ul.experience-content-list
        li.experience-content-list__item
          span.experience-content-list__company piart
          span.experience-content-list__text Graphic designer 
          span.experience-content-list__data.experience-content-list__data--line1 Aug 2018 — mar 2021
        li.experience-content-list__item
          span.experience-content-list__company jetup
          span.experience-content-list__text ux/ui designer 
          span.experience-content-list__data.experience-content-list__data--line2 mar 2021 — sep 2021
        li.experience-content-list__item
          span.experience-content-list__company the glyph
          span.experience-content-list__text ux/ui designer 
          span.experience-content-list__data.experience-content-list__data--line3 sep 2021 — dec 2022
      