footer.footer
  .container
    .footer-content
      .footer-content-left
        a.footer-content-left__link(href="#") kris dunaenko
        ul.footer-content-list
          li.footer-content-list__item
            a.footer-content-list__link(href="#") about  
          li.footer-content-list__item
            a.footer-content-list__link(href="#") ux/ui
          li.footer-content-list__item
            a.footer-content-list__link(href="#") logo
      .footer-content-right 
        a.footer-content-right__link(href="tel:+380970025203") +38 097 002 52 03
        a.footer-content-right__link.footer-content-right__link--color(href="mailto:krisdunaenko0@gmail.com") krisdunaenko0@gmail.com
