footer.footer
  .container
    .footer-content
      .footer-content-left
        a.footer-content-left__link(href="#") kris dunaenko
        ul.footer-content-list
          li.footer-content-list__item
            a.footer-content-list__link.currnet(href="index.html") about  
          li.footer-content-list__item
            a.footer-content-list__link(href="ux-ui.html") ux/ui
          li.footer-content-list__item
            a.footer-content-list__link(href="logo.html") logo
      