header.header
  .container
    .header-content
      a.header-content__link(href="index.html") Kris Dunaenko
      ul.header-content__list
        li.header-content__item
          a.header-content__link.header-content__link--line.header-content__link--current(href="index.html") about
        li.header-content__item
          a.header-content__link.header-content__link--line(href="ux-ui.html") ux/ui
        li.header-content__item
          a.header-content__link.header-content__link--line(href="logo.html") logo