header.header
  .container
    .header-content
      a.header-content__link.header-content__link--longkd(href="index.html") Kris Dunaenko
      a.header-content__link.header-content__link--kd(href="index.html") KD
      button.header-content__burger(type="button")
        span.header-content__span
      .header-content__menu
        ul.header-content__list
          li.header-content__item
            a.header-content__link.header-content__link--line.header-content__link--current(href="index.html") about
          li.header-content__item
            a.header-content__link.header-content__link--line(href="ux-ui.html") ux/ui
          li.header-content__item
            a.header-content__link.header-content__link--line(href="logo.html") logo