header.header
  .container
    .header-content
      a.header-content__link(href="#") Kris Dunaenko
      ul.header-content__list
        li.header-content__item
          a.header-content__link(href="index.html") about
        li.header-content__item
          a.header-content__link(href="ux-ui.html") ux/ui
        li.header-content__item
          a.header-content__link(href="logo.html") logo