section.instruments
  .container
    .instruments-content
      h2.instruments-content__title.instruments-content__title--dn.title instruments
      h2.instruments-content__title.instruments-content__title--db.title instru-ments
      ul.instruments-content-list
        li.instruments-content-list__item-main
          ul.instruments-content-list__list-main
            li.instruments-content-list__item
              img.instruments-content-list__logo(src="img/adobe.svg", alt="Adobe Photoshop")
              .instruments-content-list__text 
                p Adobe Photoshop
              img.instruments-content-list__logo.instruments-content-list__logo--mob(src="img/instrum-mob-1.svg", alt="Adobe Photoshop")
            li.instruments-content-list__item
              img.instruments-content-list__logo(src="img/figma.svg", alt="Figma")
              .instruments-content-list__text 
                p Figma
              img.instruments-content-list__logo.instruments-content-list__logo--mob(src="img/instrum-mob-2.svg", alt="Figma")
        li.instruments-content-list__item-main
          ul.instruments-content-list__list-main.instruments-content-list__list-main--mb
            li.instruments-content-list__item.instruments-content-list__item--w
              img.instruments-content-list__logo(src="img/illustrator.svg", alt="Adobe Illustrator")
              .instruments-content-list__text 
                p Adobe Illustrator
              img.instruments-content-list__logo.instruments-content-list__logo--mob(src="img/instrum-mob-3.svg", alt="Adobe Illustrator")
            li.instruments-content-list__item.instruments-content-list__item--w
              img.instruments-content-list__logo(src="img/effects.svg", alt="Adobe After Effects")
              .instruments-content-list__text 
                p Adobe After Effects
              img.instruments-content-list__logo.instruments-content-list__logo--mob(src="img/instrum-mob-4.svg", alt="Adobe After Effects")