section.instruments
  .container
    .instruments-content
      h2.instruments-content__title.title instruments
      ul.instruments-content-list
        li.instruments-content-list__item-main
          ul.instruments-content-list__list-main
            li.instruments-content-list__item
              img.instruments-content-list__logo(src="img/adobe.svg", alt="Adobe Photoshop")
              .instruments-content-list__text 
                p Adobe Photoshop
            li.instruments-content-list__item
              img.instruments-content-list__logo(src="img/figma.svg", alt="Adobe Photoshop")
              .instruments-content-list__text 
                p Figma
        li.instruments-content-list__item-main
          ul.instruments-content-list__list-main.instruments-content-list__list-main--mb
            li.instruments-content-list__item.instruments-content-list__item--w
              img.instruments-content-list__logo(src="img/illustrator.svg", alt="Adobe Photoshop")
              .instruments-content-list__text 
                p Adobe Illustrator
            li.instruments-content-list__item.instruments-content-list__item--w
              img.instruments-content-list__logo(src="img/effects.svg", alt="Adobe Photoshop")
              .instruments-content-list__text 
                p Adobe After Effects