section.line-bot
  .line-bot__infinity
    p.line-bot__title Creative / Communicative / Curious / Result-Oriented / Problem Solver Creative / Communicative / Curious / Result-Oriented / Problem Solver Creative / Communicative / Curious / Result-Oriented / Problem Solver
    