section.logos
  .container
    .logos-content
      ul.logos-list
        li.logos-list__item.logos-list__item--line
          img.logos-list__img.logos-list__img--1(src="../img/logo1.svg", alt="logo")
          .logos-list__content
            span.logos-list__number /001
            p.logos-list__text hooper furniture
        li.logos-list__item.logos-list__item--line
          img.logos-list__img.logos-list__img--2(src="../img/logo2.svg", alt="logo")
          .logos-list__content
            span.logos-list__number /002
            p.logos-list__text nota, vocal studio
        li.logos-list__item.logos-list__item--line
          img.logos-list__img.logos-list__img--3(src="../img/logo3.svg", alt="logo")
          .logos-list__content
            span.logos-list__number /003
            p.logos-list__text petrol podilya
        li.logos-list__item.logos-list__item--line
          img.logos-list__img.logos-list__img--4(src="../img/logo4.svg", alt="logo")
          .logos-list__content
            span.logos-list__number /004
            p.logos-list__text react component library
        li.logos-list__item.logos-list__item--line
          img.logos-list__img.logos-list__img--5(src="../img/logo5.svg", alt="logo")
          .logos-list__content
            span.logos-list__number /005
            p.logos-list__text ko3a ceramics
        li.logos-list__item.logos-list__item--line
          img.logos-list__img.logos-list__img--6(src="../img/logo6.svg", alt="logo")
          .logos-list__content
            span.logos-list__number /006
            p.logos-list__text mavka design studio
        li.logos-list__item.logos-list__item--line
          img.logos-list__img.logos-list__img--7(src="../img/logo7.svg", alt="logo")
          .logos-list__content
            span.logos-list__number /007
            p.logos-list__text css library
        li.logos-list__item.logos-list__item--line
          img.logos-list__img.logos-list__img--8(src="../img/logo8.svg", alt="logo")
          .logos-list__content
            span.logos-list__number /008
            p.logos-list__text nube clothing
        li.logos-list__item.logos-list__item--line
          img.logos-list__img.logos-list__img--9(src="../img/logo9.svg", alt="logo")
          .logos-list__content
            span.logos-list__number /009
            p.logos-list__text molecula bar
        li.logos-list__item.logos-list__item--line
          img.logos-list__img.logos-list__img--10(src="../img/logo10.svg", alt="logo")
          .logos-list__content
            span.logos-list__number /010
            p.logos-list__text toma’s tubes
        li.logos-list__item.logos-list__item--line
          img.logos-list__img.logos-list__img--11(src="../img/logo11.svg", alt="logo")
          .logos-list__content
            span.logos-list__number /011
            p.logos-list__text contrast interior design
        li.logos-list__item.logos-list__item--line
          img.logos-list__img.logos-list__img--12(src="../img/logo12.svg", alt="logo")
          .logos-list__content
            span.logos-list__number /012
            p.logos-list__text contrast interior design
        li.logos-list__item.logos-list__item--line
          img.logos-list__img.logos-list__img--13(src="../img/logo13.svg", alt="logo")
          .logos-list__content
            span.logos-list__number /013
            p.logos-list__text balloon bar
        li.logos-list__item.logos-list__item--line
          img.logos-list__img.logos-list__img--14(src="../img/logo14.svg", alt="logo")
          .logos-list__content
            span.logos-list__number /014
            p.logos-list__text ankor decor shop
        li.logos-list__item.logos-list__item--line
          img.logos-list__img.logos-list__img--15(src="../img/logo15.svg", alt="logo")
          .logos-list__content
            span.logos-list__number /015
            p.logos-list__text ankor decor shop

