section.services
  .container
    .services-content
      .services-content-top
        h2.services-content-top__title i offer different levels of design services
      ul.services-content-list
        li.services-content-list__item.services-content-list__item--left
          ul.services-content-list__second-list
            li.services-content-list__second-item
              span.services-content-list__text research
            li.services-content-list__second-item
              span.services-content-list__text moodboard
            li.services-content-list__second-item
              span.services-content-list__text wireframing
            li.services-content-list__second-item
              span.services-content-list__text grid
            li.services-content-list__second-item
              span.services-content-list__text design concept
            li.services-content-list__second-item
              span.services-content-list__text Typography
            li.services-content-list__second-item
              span.services-content-list__text mobile design
          h3.services-content-list__title UI/UX Design
          a.services-content-list__contact(href="#")
            span.services-content-list__contact contact me
            img.services-content-list__arrow(src="../img/Arrow 1.svg", alt="arrow")
        li.services-content-list__item.services-content-list__item--mt
          ul.services-content-list__second-list
            li.services-content-list__second-item
              span.services-content-list__text social media
            li.services-content-list__second-item
              span.services-content-list__text infographics
            li.services-content-list__second-item
              span.services-content-list__text infographics
            li.services-content-list__second-item
              span.services-content-list__text packaging
            li.services-content-list__second-item
              span.services-content-list__text branded products
            li.services-content-list__second-item
              span.services-content-list__text branding systems
            li.services-content-list__second-item
              span.services-content-list__text logo design
          h3.services-content-list__title graphic design
          a.services-content-list__contact(href="#")
            span.services-content-list__contact contact me
            img.services-content-list__arrow(src="../img/Arrow 1.svg", alt="arrow")
