section.soft
  .container
    .soft-content
      h2.soft-content__title.title soft <br> skills
      ul.soft-content-list
        li.soft-content-list__item-main
          li.soft-content-list__item
            span.soft-content-list__text Creative
          li.soft-content-list__item
            span.soft-content-list__text Communicative
        li.soft-content-list__item-main
          li.soft-content-list__item
            span.soft-content-list__text Curious
          li.soft-content-list__item
            span.soft-content-list__text Result-Oriented
          li.soft-content-list__item
            span.soft-content-list__text Problem Solver