section.touch
  .container
    .touch-content
      .touch-content__top
        h2.touch-content__title.title let’s get in touch
      .touch-content__bot
        ul.touch-soclist
          li.touch-soclist__item
            a(href="#").touch-soclist__link linkedin
              img.touch-soclist__arrow(src="img/arrow.svg", alt="arrow")
          li.touch-soclist__item
            a(href="#").touch-soclist__link telegram
              img.touch-soclist__arrow(src="img/arrow.svg", alt="arrow")
          li.touch-soclist__item
            a(href="#").touch-soclist__link instagram
              img.touch-soclist__arrow(src="img/arrow.svg", alt="arrow")
        ul.touch-list
          li.touch-list__item
            a.touch-list__link(href="mailto:krisdunaenko@gmail.com") krisdunaenko@ <br>gmail.com
          li.touch-list__item
            a.touch-list__link(href="tel:+380980025203") +38 098 002 52 03