section.fonts
  .container
    .fonts-content
      ul.fonts-list
        li.fonts-list__item.fonts-list__item--line
          img.fonts-list__img(src="img/UX/Frame 95.jpg", alt="")
          span.fonts-list__number /001
          p.fonts-list__text.fonts-list__text--1 skincare oil cosmetic app and website
        li.fonts-list__item
          img.fonts-list__img(src="img/UX/Frame 95.jpg", alt="")
          span.fonts-list__number /002
          p.fonts-list__text.fonts-list__text--2 Metal tube website
        li.fonts-list__item
          img.fonts-list__img(src="img/UX/Frame 95.jpg", alt="")
          span.fonts-list__number /003
          p.fonts-list__text.fonts-list__text--3 GOLF website
        li.fonts-list__item
          img.fonts-list__img(src="img/UX/Frame 95.jpg", alt="")
          span.fonts-list__number /004
          p.fonts-list__text.fonts-list__text--4 contentwise website
        li.fonts-list__item
          img.fonts-list__img(src="img/UX/Frame 95.jpg", alt="")
          span.fonts-list__number /005
          p.fonts-list__text.fonts-list__text--5 easyway website
        li.fonts-list__item
          img.fonts-list__img(src="img/UX/Frame 95.jpg", alt="")
          span.fonts-list__number /006
          p.fonts-list__text.fonts-list__text--6 flower shop  website
        li.fonts-list__item
          img.fonts-list__img(src="img/UX/Frame 95.jpg", alt="")
          span.fonts-list__number /007
          p.fonts-list__text.fonts-list__text--7 decor shop  website
