section.fonts
  .container
    .fonts-content
      ul.fonts-list
        li.fonts-list__item
          img.fonts-list__img(src="img/UX/Frame 95.jpg", alt="")
          span.fonts-list__number /001
          p.fonts-list__text skincare oil cosmetic app and website
