section.fonts
  .container
    .fonts-content
      ul.fonts-list
        li.fonts-list__item.fonts-list__item--line
          a.fonts-list__link(href="#" data-number='001' data-text='skincare oil cosmetic app and website' data-preview='img/UX/popup-ux.jpg' data-project='img/UX/01.jpg')
          .fonts-list__top
            img.fonts-list__img(src="img/example.jpg", alt="picture")
            a.fonts-list__content(href="#")
              .fonts-list__see(href="#") see highlights
              img.fonts-list__arrow(src="img/arrow.svg", alt="arrow")
          span.fonts-list__number /001
          p.fonts-list__text.fonts-list__text--1 skincare oil cosmetic app and website
        li.fonts-list__item
          a.fonts-list__link(href="#" data-number='002' data-text='Metal tube website' data-preview='img/UX/popup-ux2.jpg' data-project='img/UX/02.jpg')
          .fonts-list__top
            img.fonts-list__img(src="img/example.jpg", alt="picture")
            a.fonts-list__content(href="#")
              .fonts-list__see(href="#") see highlights
              img.fonts-list__arrow(src="img/arrow.svg", alt="arrow")
          span.fonts-list__number /002
          p.fonts-list__text.fonts-list__text--2 Metal tube website
        li.fonts-list__item
          a.fonts-list__link(href="#" data-number='003' data-text='GOLF website' data-preview='img/UX/popup-ux3.jpg' data-project='img/UX/03.jpg')
          .fonts-list__top
            img.fonts-list__img(src="img/example.jpg", alt="picture")
            a.fonts-list__content(href="#")
              .fonts-list__see(href="#") see highlights
              img.fonts-list__arrow(src="img/arrow.svg", alt="arrow")
          span.fonts-list__number /003
          p.fonts-list__text.fonts-list__text--3 GOLF website
        li.fonts-list__item
          a.fonts-list__link(href="#" data-number='004' data-text='contentwise website' data-preview='img/UX/popup-ux4.jpg' data-project='img/UX/04.jpg')
          .fonts-list__top
            img.fonts-list__img(src="img/example.jpg", alt="picture")
            a.fonts-list__content(href="#")
              .fonts-list__see(href="#") see highlights
              img.fonts-list__arrow(src="img/arrow.svg", alt="arrow")
          span.fonts-list__number /004
          p.fonts-list__text.fonts-list__text--4 contentwise website
        li.fonts-list__item
          a.fonts-list__link(href="#" data-number='005' data-text='easyway website' data-preview='img/UX/popup-ux5.jpg' data-project='img/UX/05.jpg')
          .fonts-list__top
            img.fonts-list__img(src="img/example.jpg", alt="picture")
            a.fonts-list__content(href="#")
              .fonts-list__see(href="#") see highlights
              img.fonts-list__arrow(src="img/arrow.svg", alt="arrow")
          span.fonts-list__number /005
          p.fonts-list__text.fonts-list__text--5 easyway website
        li.fonts-list__item
          a.fonts-list__link(href="#" data-number='006' data-text='flower shop  website' data-preview='img/UX/popup-ux6.jpg' data-project='img/UX/06.jpg')
          .fonts-list__top
            img.fonts-list__img(src="img/example.jpg", alt="picture")
            a.fonts-list__content(href="#")
              .fonts-list__see(href="#") see highlights
              img.fonts-list__arrow(src="img/arrow.svg", alt="arrow")
          span.fonts-list__number /006
          p.fonts-list__text.fonts-list__text--6 flower shop  website
        li.fonts-list__item
          a.fonts-list__link(href="#" data-number='007' data-text='decor shop  website' data-preview='img/UX/popup-ux7.jpg' data-project='img/UX/07.jpg')
          .fonts-list__top
            img.fonts-list__img(src="img/example.jpg", alt="picture")
            a.fonts-list__content(href="#")
              .fonts-list__see(href="#") see highlights
              img.fonts-list__arrow(src="img/arrow.svg", alt="arrow")
          span.fonts-list__number /007
          p.fonts-list__text.fonts-list__text--7 decor shop  website
