.experience {
  padding-bottom: 350px;
  overflow: hidden;

  @media screen and (max-width: 499px) {
    padding-bottom: 150px;
  }
}

.experience-content {
  @media screen and (max-width: 499px) {
    text-align: center;
  }
  &__title {
    margin-bottom: 150px;

    @media screen and (max-width: 569px) {
      font-size: 70px;
    }

    @media screen and (max-width: 499px) {
      text-align: center;
      font-size: 48px;
      margin-bottom: 100px;
    }
  }
}

.experience-content-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 100px;

  &::after {
    content: "";
    position: absolute;
    bottom: 110px;
    left: -50%;
    width: 200%;

    border: 1px solid $white-03;

    @media screen and (max-width: 1319px) {
      display: none;
    }
  }

  @media screen and (max-width: 499px) {
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__company {
    position: relative;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 5px;

    color: $white-05;
  }

  &__text {
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 108px;

    @media screen and (max-width: 499px) {
      font-size: 30px;
      margin-bottom: 60px;
    }
  }

  &__data {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: $white-05;

    &::before {
      content: "";
      position: absolute;
      top: 113px;
      height: 50px;
      z-index: -1;

      border-left: 1px solid $white-03;

      @media screen and (max-width: 1319px) {
        display: none;
      }
    }
  }
}
