.instruments {
  padding-top: 300px;
  padding-bottom: 300px;

  @media screen and (max-width: 499px) {
    padding-bottom: 150px;
  }
}

.instruments-content {
  &__title {
    margin-bottom: 50px;

    @media screen and (max-width: 569px) {
      text-align: center;
    }

    @media screen and (max-width: 659px) {
      font-size: 48px;
    }
  }
}

.instruments-content-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 140px;

  @media screen and (max-width: 499px) {
    justify-content: center;
  }

  @media screen and (max-width: 569px) {
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    max-width: 630px;
    border: 1px solid #534f4d;
    border-radius: 5000px;
    padding: 70px 0;
    padding-left: 110px;
    padding-right: 110px;
    width: 630px;

    @media screen and (max-width: 499px) {
      padding: 40px 50px;
    }

    @media screen and (max-width: 499px) {
      width: 350px;
    }

    @media screen and (max-width: 659px) {
      width: 550px;
    }

    @media screen and (max-width: 569px) {
      width: 380px;
    }

    &--w {
      width: 520px;

      @media screen and (max-width: 1319px) {
        width: 630px;
      }

      @media screen and (max-width: 659px) {
        width: 550px;
      }

      @media screen and (max-width: 569px) {
        width: 380px;
      }
    }
  }

  &__logo {
    width: 50px;
  }

  &__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.25;
    text-transform: uppercase;
    margin-left: 30px;
    max-width: 190px;
  }

  &__list-main {
    &--mb {
      margin-top: 190px;

      @media screen and (max-width: 1319px) {
        margin-top: 0;
      }
    }
  }
}
