.line-bot {
  padding-bottom: 300px;
}
.line-bot-content {
  &__text {
    font-family: $font-ogg;
    font-style: italic;
    font-weight: 260;
    font-size: 170px;
    line-height: 1;
    text-transform: lowercase;

    color: $white-03;
  }
}
