.main {
  &--logo-pb {
    @media screen and (max-width: 499px) {
      padding-top: 200px;
      padding-bottom: 300px;
    }
  }
}

.main-content {
  &__title {
    &--logo-fs {
      @media screen and (max-width: 499px) {
        font-size: 60px;
      }
    }
  }

  &__text {
    &--logo-fs {
      @media screen and (max-width: 499px) {
        font-size: 18px;
      }
    }
  }
}
