.services {
  padding-bottom: 495px;
  overflow: hidden;
  @media screen and (max-width: 569px) {
    padding-bottom: 300px;
  }

  @media screen and (max-width: 499px) {
    padding-bottom: 150px;
  }
}
.services-content {
  @media screen and (max-width: 569px) {
    text-align: center;
  }
}

.services-content-top {
  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.25;
    text-transform: uppercase;
    max-width: 585px;
    margin-bottom: 390px;

    @media screen and (max-width: 569px) {
      margin-bottom: 100px;
    }
  }
}
.services-content-list {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 569px) {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 100px;
  }

  &__item {
    position: relative;
    max-width: 525px;

    &--left {
      &::before {
        content: "";
        position: absolute;
        left: -250px;
        top: -250px;
        width: 905px;
        height: 905px;
        border-radius: 50%;
        z-index: -2;

        border: 1px solid $white-03;

        @media screen and (max-width: 559px) {
          display: none;
        }
      }
    }

    &--mt {
      margin-top: -276px;

      &::before {
        content: "";
        position: absolute;
        left: -200px;
        top: -200px;
        width: 847px;
        height: 847px;
        border-radius: 50%;
        z-index: -1;

        border: 1px solid $white-03;

        @media screen and (max-width: 559px) {
          display: none;
        }
      }

      @media screen and (max-width: 569px) {
        margin-top: 0;
      }
    }
  }

  &__second-list {
    margin-bottom: 50px;
  }
  &__second-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.56;
    text-transform: uppercase;
  }

  &__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 50px;

    @media screen and (max-width: 499px) {
      font-size: 50px;
    }
  }

  &__contact {
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    column-gap: 10px;

    color: #ffffff;
  }

  &__arrow {
    width: 14px;
  }
}
