// .fonts {
//   padding-bottom: 400px;

//   @media screen and (max-width: 499px) {
//     padding-bottom: 125px;
//   }
// }

// .fonts-list {
//   &__item {
//     border-bottom: 1px solid $white-03;
//     padding-bottom: 100px;

//     &--line {
//       border-top: 1px solid $white-03;
//       padding-top: 100px;
//     }

//     &:not(:last-child) {
//       margin-bottom: 100px;
//     }

//     &:hover,
//     &:focus {
//       .fonts-list__top {
//         display: block;
//       }
//       .fonts-list__item {
//         padding-top: 10px;
//       }
//     }
//   }

//   &__img {
//     width: 520px;
//     margin-left: auto;
//     margin-bottom: 10px;

//     @media screen and (max-width: 499px) {
//       width: 345px;
//       margin-bottom: 40px;
//     }
//   }

//   &__top {
//     position: relative;
//     display: none;
//     transition: 250ms linear;
//   }

//   &__content {
//     position: absolute;
//     bottom: -35px;
//     right: 0;
//     display: flex;
//     align-items: center;
//     gap: 10px;

//     color: $white;

//     @media screen and (max-width: 499px) {
//       bottom: -65px;
//     }
//   }

//   &__see {
//     font-size: 16px;
//     line-height: 1.25;
//     text-transform: uppercase;
//   }

//   &__arrow {
//     width: 14px;
//   }

//   &__number {
//     font-size: 20px;
//     line-height: 1.5;
//     letter-spacing: -0.03em;
//     display: block;
//     margin-bottom: 20px;
//   }

//   &__text {
//     &--1 {
//       font-family: $font-ogg;
//       font-style: italic;
//       font-weight: 300;
//       font-size: 80px;
//       line-height: 1.31;
//       text-transform: capitalize;
//     }

//     &--2 {
//       font-weight: 100;
//       font-size: 80px;
//       line-height: 1.31;
//       text-transform: uppercase;
//     }

//     &--3 {
//       font-family: $font-ogg;
//       font-style: italic;
//       font-weight: 300;
//       font-size: 80px;
//       line-height: 1.31;
//       text-transform: capitalize;
//     }

//     &--5 {
//       font-family: $font-ogg;
//       font-style: italic;
//       font-weight: 300;
//       font-size: 80px;
//       line-height: 1.31;
//       text-transform: capitalize;
//     }

//     &--6 {
//       font-weight: 100;
//       font-size: 80px;
//       line-height: 1.31;
//       text-transform: uppercase;
//     }
//     &--7 {
//       font-family: $font-ogg;
//       font-style: italic;
//       font-weight: 300;
//       font-size: 80px;
//       line-height: 1.31;
//       text-transform: capitalize;
//     }

//     @media screen and (max-width: 499px) {
//       text-align: center;
//       font-size: 60px;
//     }

//     &--4 {
//       font-weight: 100;
//       font-size: 80px;
//       line-height: 1.31;
//       text-transform: uppercase;
//       @media screen and (max-width: 499px) {
//         text-align: center;
//         font-size: 48px;
//       }
//     }
//   }
// }

.fonts {
  padding-bottom: 400px;

  @media screen and (max-width: 499px) {
    padding-bottom: 125px;
  }
}

.fonts-list {
  &__item {
    border-bottom: 1px solid $white-03;
    padding-bottom: 100px;

    &--line {
      border-top: 1px solid $white-03;
      padding-top: 100px;
    }

    &:not(:last-child) {
      margin-bottom: 100px;
    }

    &:hover,
    &:focus {
      .fonts-list__top {
        display: block;
      }
      .fonts-list__item {
        padding-top: 10px;
      }
    }
  }

  &__img {
    width: 520px;
    margin-left: auto;
    margin-bottom: 10px;

    @media screen and (max-width: 499px) {
      width: 345px;
      margin-bottom: 40px;
    }
  }

  &__top {
    position: relative;
    display: none;
    transition: 250ms linear;
  }

  &__content {
    position: absolute;
    bottom: -35px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10px;

    color: $white;

    @media screen and (max-width: 499px) {
      bottom: -65px;
    }
  }

  &__see {
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
  }

  &__arrow {
    width: 14px;
  }

  &__number {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    display: block;
    margin-bottom: 20px;
  }

  &__text {
    &--1 {
      font-family: $font-ogg;
      font-style: italic;
      font-weight: 300;
      font-size: 80px;
      line-height: 1.31;
      text-transform: capitalize;
    }

    &--2 {
      font-weight: 100;
      font-size: 80px;
      line-height: 1.31;
      text-transform: uppercase;
    }

    &--3 {
      font-family: $font-ogg;
      font-style: italic;
      font-weight: 300;
      font-size: 80px;
      line-height: 1.31;
      text-transform: capitalize;
    }

    &--5 {
      font-family: $font-ogg;
      font-style: italic;
      font-weight: 300;
      font-size: 80px;
      line-height: 1.31;
      text-transform: capitalize;
    }

    &--6 {
      font-weight: 100;
      font-size: 80px;
      line-height: 1.31;
      text-transform: uppercase;
    }
    &--7 {
      font-family: $font-ogg;
      font-style: italic;
      font-weight: 300;
      font-size: 80px;
      line-height: 1.31;
      text-transform: capitalize;
    }

    @media screen and (max-width: 499px) {
      text-align: center;
      font-size: 60px;
    }

    &--4 {
      font-weight: 100;
      font-size: 80px;
      line-height: 1.31;
      text-transform: uppercase;
      @media screen and (max-width: 499px) {
        text-align: center;
        font-size: 48px;
      }
    }
  }
}
