html 
  head 
    include html/head
  body 
    .wrapper
      include html/header
      main
        include html/main
        include html/line
        include html/about
        include html/services
        include html/soft
        include html/line-bot
        include html/instruments
        include html/experience
        include html/also
        include html/touch

      include html/footer
      .popup(id='popup')
        img.popup__cross(src="img/X.svg", alt="cross")
        .popup__content
          
    script(src="js/app.min.js")

