html 
  head 
    include html/head
  body 
    .wrapper
      include html/header
      main
        include html/logo-main
        include html/logo-logos
     
      include html/footer
      .popup(id='popup')
        img.popup__cross(src="img/X.svg", alt="cross")
        .popup__content
    script(src="js/app.min.js")
