html 
  head 
    include html/head
  body 
    .wrapper
      include html/header
      main
        include html/logo-main
        include html/logo-logos
     
      include html/footer
    script(src="js/app.min.js")
