html 
  head 
    include html/head
  body.ux-ui
    .wrapper
      include html/header
      main
        include html/ux-ui-main
        include html/ux-ui-fonts

      include html/footer
      .popup(id='popup')
        img.popup__cross(src="img/X.svg", alt="cross")
        .popup__content
          
          
    script(src="js/app.min.js")
