html 
  head 
    include html/head
  body.ux-ui
    .wrapper
      include html/header
      main
        include html/ux-ui-main
        include html/ux-ui-fonts

      include html/footer
      .popup
        img.popup__cross(src="img/X.svg", alt="cross")
        .popup__content

          ul.popup-list
            li.popup-list__item.popup-list__item--1
              .popup-list__top
                span.popup-list__number 001
                p.popup-list__text skincare oil cosmetic app and website
              img.popup-list__img(src="img/UX/popup-ux.jpg", alt="project")
              img.popup-list__img(src="img/UX/01.jpg", alt="projects")
            li.popup-list__item.popup-list__item--2
              .popup-list__top
                span.popup-list__number 002
                p.popup-list__text Metal tube website
              img.popup-list__img(src="img/UX/popup-ux2.jpg", alt="project")
              img.popup-list__img(src="img/UX/02.jpg", alt="projects")
            li.popup-list__item.popup-list__item--3
              .popup-list__top
                span.popup-list__number 003
                p.popup-list__text GOLF website
              img.popup-list__img(src="img/UX/popup-ux3.jpg", alt="project")
              img.popup-list__img.popup-list__img--mb(src="img/UX/popup-ux3-1.jpg", alt="project")
              img.popup-list__img(src="img/UX/03.jpg", alt="projects")
            li.popup-list__item.popup-list__item--4
              .popup-list__top
                span.popup-list__number 004
                p.popup-list__text contentwise website
              img.popup-list__img(src="img/UX/popup-ux4.jpg", alt="projects")
            li.popup-list__item.popup-list__item--5
              .popup-list__top
                span.popup-list__number 005
                p.popup-list__text easyway website
              img.popup-list__img(src="img/UX/popup-ux5.jpg", alt="projects")
            li.popup-list__item.popup-list__item--6
              .popup-list__top
                span.popup-list__number 006
                p.popup-list__text flower shop website
              img.popup-list__img(src="img/UX/popup-ux6.jpg", alt="projects")
            li.popup-list__item.popup-list__item--7
              .popup-list__top
                span.popup-list__number 006
                p.popup-list__text decor shop website
              img.popup-list__img(src="img/UX/popup-ux7.jpg", alt="projects")


      
    script(src="js/app.min.js")

