html 
  head 
    include html/head
  body.ux-ui
    .wrapper
      include html/header
      main
        include html/ux-ui-main
        include html/ux-ui-fonts

      include html/footer
      .popup(id='popup')
        img.popup__cross(src="img/X.svg", alt="cross")
        .popup__content
          .popup-list
            .popup-list__top
              span.popup-list__number 
              p.popup-list__text 
            img.popup-list__img.popup-list__img--review(src="", alt="project")
            img.popup-list__img.popup-list__img--project(src="", alt="projects")
    script(src="js/app.min.js")
