html 
  head 
    include html/head
  body.ux-ui
    .wrapper
      include html/header
      main
        include html/ux-ui-main
        include html/ux-ui-fonts

      include html/footer
      .popup(id='popup')
        img.popup__cross(src="img/X.svg", alt="cross")
        .popup__content
          .popup-list__top
            span.popup-list__number 001
            p.popup-list__text skincare oil cosmetic app and website
            img.popup-list__img(src="img/UX/popup-ux.jpg", alt="project")
            img.popup-list__img(src="img/UX/01.jpg", alt="projects")
      script(src="js/app.min.js")
