@font-face {
  font-family: "Ogg";
  src: url("../fonts/OggBoldItalic.woff2") format("woff2"),
    url("../fonts/OggBoldItalic.woff") format("woff");

  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Ogg";
  src: url("../fonts/OggBold.woff2") format("woff2"),
    url("../fonts/OggBold.woff") format("woff");

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ogg";
  src: url("../fonts/OggLightItalic.woff2") format("woff2"),
    url("../fonts/OggLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/OggMediumItalic.woff2") format("woff2"),
    url("../fonts/OggMediumItalic.woff") format("woff");

  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/OggRegular.woff2") format("woff2"),
    url("../fonts/OggRegular.woff") format("woff");

  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/OggRegularItalic.woff2") format("woff2"),
    url("../fonts/OggRegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Ogg";
  src: url("../fonts/OggThin.woff2") format("woff2"),
    url("../fonts/OggThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/OggLight.woff2") format("woff2"),
    url("../fonts/OggLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/OggThinItalic.woff2") format("woff2"),
    url("../fonts/OggThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/OggMedium.woff2") format("woff2"),
    url("../fonts/OggMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
